*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-weight: inherit;
	font-size: inherit;
}

.body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 300px;
	margin: 0 auto;
	background-color: #40E0D0;
}

.title {
	padding: 10px 0;
	font-weight: 600;
	text-align: center;
}

.item {
	padding: 5px 10px;
	margin: 1px;
	background-color: #fff;
}

.grid {
	display: grid;
	grid-template-columns: 100px 100px 100px;
}